:root {
  --rZ: 0deg;
  --rX: 0deg;
  --rY: 0deg;
  --tX: 0%;
  --tY: 0%;
  --tZ: 0px;
  --sC: 1;
}

@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('./fonts/OpenSansHebrewRegular.woff');
}

body {
  padding: 0;
  margin: 0;
  min-height: 500vh;
  background-color: #bbbbbb;
  font-family: "Open Sans Hebrew", "Helvetica Neue", tahoma, Helvetica, Arial, sans-serif;
  color: #2d2d2d;
}

g#roads path {
  stroke: #636363;
}

body>section {
  position: relative;
  background-color: #fff;
  max-width: 710px;
  padding: 20px;
  margin: 100vh 40px 20px auto;
  border: 1px solid #000;
  line-height: 1.7;
  display: inline-block;
}

h2 {
  font-family: monospace;
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 0.4em;
  line-height: 1;
}

p {
  margin: 0 0 1em;
}

@keyframes color {
  to {
    fill: #DA0A08;
  }
}

.color-animation {
  animation: color 1s linear;
}

.clock {
  z-index: 11;
  top: 0;
  left: 0;
  position: fixed;
  font-family: monospace;
  font-size: 28px;
  background-color: #fff;
  margin: 20px;
  padding: 6px 14px;
  font-weight: bold;
  border: 1px solid #000;
}

.cube-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  perspective: 100vmin;
}

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(var(--rX)) rotateZ(var(--rZ)) rotateY(var(--rY)) translateX(var(--tX)) translateY(var(--tY)) translateZ(var(--tZ)) scale(var(--sC));
  animation: cube 1s linear;
}

@keyframes cube {
  to {
    transform: rotateX(79deg) rotateZ(15deg) rotateY(0deg) scale(1.7) translate(-5%, 8%);
  }
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
}

.side img {
  position: absolute;
  bottom: 0;
  left: 0;
  /* transform: translateX(-50%); */
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* transform: rotate(-10.7deg) scale(0.63) translate(-81.9%, -4.7%); */
  /* opacity: 0.25; */
}

.side svg {
  position: relative;
  height: 100%;
  width: 100%;
}

:root * {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* ASSETS */

.base-image {}

.asset {
  position: fixed;
  transform: translate(-50%, calc(-100% - 14px));
  width: clamp(150px, 50vw, 180px);
  text-align: center;
  font-family: 10px;
  font-size: 14px;
}

.asset>div {
  position: relative;
  background-color: #fff;
  padding: 0 0 10px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 50%);
  margin-bottom: 20px;
}

.asset>div::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% - 1px));
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 14px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
}

.asset>div>span {
  padding: 1px 10px;
  display: block;
}

.asset>span {
  font-size: 20px;
  font-weight: 600;

}

.asset video {
  width: 100%;
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
}

.asset img {
  width: 100%;
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
}

/* CONTROLS */

.controls {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3;
  display: grid;
  padding: 10px;
}

#labels {
  opacity: 0;
}

#dots circle:not([data-circle]) {
  opacity: 0;
}